<html>
  <%- include('../../partials/header.ejs') %>

  <body>
    <%- include('../../partials/navBar.ejs') %> <%-
    include('../../partials/sidebarAdmin.ejs') %>

    <br />
    <br />

    <div class="mainContainer mt-6">
      <div class="is-flex is-justify-content-space-between">
        <h1 class="title ml-6">Crear Retroalimentacion</h1>
        <div class="">
          <a class="button is-danger mr-6" type="submit" href="preguntas/0">
            Crear Pregunta
          </a>
        </div>
      </div>
      <section
        class="container is-flex is-align-items-center is-flex-direction-column"
      >
        <br />
        <h2 class="subtitle">Banco de preguntas</h2>

        <% for (let i = 0; i < preguntas.length; i++) { %> <% if
        (preguntas[i].tipoPregunta === 'Cualitativa') { %>
        <div
          class="box PreguntaContainer is-flex is-justify-content-space-between"
        >
          <div class="">
            <label class="label" for="respuestaCualitativa"
              ><%= preguntas[i].contenido %></label
            >
            <p>Respuesta Abierta</p>
          </div>

          <div class="is-flex">
            <a
              class="button is-success mr-4"
              href="preguntas/<%= preguntas[i].idPreguntaBanco %>"
            >
              Editar
            </a>
            <a
              class="button is-danger"
              href="preguntas/eliminar/<%= preguntas[i].idPreguntaBanco %>"
            >
              <input
                type="hidden"
                name="idPregunta"
                value="<%= preguntas[i].idPreguntaBanco %>"
              />
              <span>Eliminar</span>
              <span class="icon is-small">
                <img
                  src="/assets/disapproval.svg"
                  alt=""
                  class="disAprovalIcon"
                />
              </span>
            </a>
          </div>
        </div>
        <% } else { %>
        <div
          class="box preguntaContainer is-flex is-justify-content-space-between"
        >
          <div>
            <label class="label" for="respuestaCuantitativa"
              ><%= preguntas[i].contenido %></label
            >
            <p>Respuesta 1 a 5</p>
          </div>

          <div class="is-flex">
            <a
              class="button is-success mr-4"
              href="preguntas/<%= preguntas[i].idPreguntaBanco %>"
            >
              Editar
            </a>
            <a
              class="button is-danger"
              href="preguntas/eliminar/<%= preguntas[i].idPreguntaBanco %>"
            >
              <input
                type="hidden"
                name="idPregunta"
                value="<%= preguntas[i].idPreguntaBanco %>"
              />
              <span>Eliminar</span>
              <span class="icon is-small">
                <img
                  src="/assets/disapproval.svg"
                  alt=""
                  class="disAprovalIcon"
                />
              </span>
            </a>
          </div>
        </div>
        <%} %> <% } %>
        <a
          class="button is-danger mt-5 mb-5 is-medium"
          href="/editar/crearRetroalimentacion/exitosa"
          >Crear Retroalimentacion
        </a>
      </section>
    </div>
  </body>
</html>

<style>
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
  }
  .mainContainer {
    width: 85%;
    margin-left: 15%;
    height: 92%;
    margin-top: 6%;

    padding: 0px;
  }
  .preguntaContainer {
    width: 70%;
  }
  .box {
    border: 1px solid #dbdbdb;
  }
  .disAprovalIcon {
    width: 1.5rem;
    height: 1.5rem;
    filter: invert(100%) sepia(0%) saturate(7487%) hue-rotate(85deg)
      brightness(101%) contrast(96%);
  }
</style>
