<html>
  <%- include('../../partials/header.ejs') %>

  <body>
    <%- include('../../partials/navBar.ejs') %>
    <%- include('../../partials/sidebarAdmin.ejs') %>
    
    <br />
    <br />
    <br />

<div class="mainContainer">   <% if(pregunta.contenido != ''){ %>
  <section class="container mt-6">
      <h1 class="title">Editar Pregunta</h1>
      <section class="">
        <section class="box">
          <form
            class="formContainer is-flex is-flex-direction-column p-2"
            action="/editar/crearRetroalimentacion"
            method="POST"
          >
            <input
              type="hidden"
              value="<%= pregunta.idPreguntaBanco %>"
              name="idPreguntaBanco"
            />
            <div class="field">
              <label class="label m-2 mb-3 is-size-5" for="contenido"
                >Contenido</label
              >
              <div class="control m-2">
                <input
                required
                  class="input textInput"
                  type="text"
                  name="contenido"
                  id="contenido"
                  value="<%= pregunta.contenido %>"
                />
              </div>
            </div>
            <div class="field m-2">
              <label class="label mb-3 is-size-5" for="tipoPregunta"
                >Tipo de Pregunta</label
              >
              <div class="control mb-3">
                <div class="select mb-3">
                  <select name="tipoPregunta">
                    <% if (pregunta.tipoPregunta === 'Cualitativa') { %>
                    <option value="Cualitativa" selected>
                      Respuesta abierta
                    </option>
                    <option value="Cuantitativa">Respuesta 1 a 5</option>
                    <% } else { %>
                    <option value="Cualitativa">Respuesta abierta</option>
                    <option value="Cuantitativa" selected>
                      Respuesta 1 a 5
                    </option>
                    <% } %>
                  </select>
                </div>
              </div>
            </div>

            <div class="field">
              <div class="control">
                <input
                  class="button guardar m-2"
                  value="Guardar Pregunta"
                  type="submit"
                />
                <a
                  class="button is-danger m-2"
                  href="/editar/crearRetroalimentacion"
                  >Cancelar</a
                >
              </div>
            </div>
          </form>
        </section>
      </section>
    </section>

      <% } else { %>
      <section class="container mt-6">
      <h1 class="title">Crear Pregunta</h1>
      <section class="">
        <section class="box">
          <form
            class="formContainer is-flex is-flex-direction-column p-2"
            action="/editar/crearRetroalimentacion"
            method="POST"
          >
            <input
              type="hidden"
              value="0"
              name="idPreguntaBanco"
            />
            <div class="field">
              <label class="label m-2 mb-3 is-size-5" for="contenido"
                >Contenido</label
              >
              <div class="control m-2">
                <input
                required
                  class="input textInput"
                  type="text"
                  name="contenido"
                  id="contenido"
                  value="<%= pregunta.contenido %>"
                />
              </div>
            </div>
            <div class="field m-2">
              <label class="label mb-3 is-size-5" for="tipoPregunta"
                >Tipo de Pregunta</label
              >
              <div class="control mb-3">
                <div class="select mb-3">
                  <select name="tipoPregunta">
                    <% if (pregunta.tipoPregunta === 'Cualitativa') { %>
                    <option value="Cualitativa" selected>
                      Respuesta abierta
                    </option>
                    <option value="Cuantitativa">Respuesta 1 a 5</option>
                    <% } else { %>
                    <option value="Cualitativa">Respuesta abierta</option>
                    <option value="Cuantitativa" selected>
                      Respuesta 1 a 5
                    </option>
                    <% } %>
                  </select>
                </div>
              </div>
            </div>

            <div class="field">
              <div class="control">
                <input
                  class="button guardar m-2"
                  value="Guardar Cambios"
                  type="submit"
                />
                <a
                  class="button is-danger m-2"
                  href="/editar/crearRetroalimentacion"
                  >Cancelar</a
                >
              </div>
            </div>
          </form>
        </section>
        <% } %></div>

  </body>
</html>

<style>
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
  }
  .mainContainer {
    width: 85%;
    margin-left: 15%;
    height: 92%;
    margin-top: 6%;

    padding: 0px;
  } 

  .box {
    border: 1px solid #dbdbdb;
  }
  .container {
    width: 65%;
  }

  .textInput {
    width: 80%;
  }

  .guardar {
    background-color: #356959;
    color: white;
  }

  .guardar:hover {
    color: white;
    background-color: #2c4f4f;
  }

  .cancelar {
    background-color: #fb5859;
    color: white;
  }
</style>
