<html>
  <%- include('../../partials/header.ejs') %>

  <body>
    <%- include('../../partials/navBar.ejs') %>

    <%- include('../../partials/sidebarAdmin.ejs') %>

    <div class="mainContainer">
      <section class="container">

          
            <h1 class="title is-1"> Responder retroalimentacion</h1>

        <form class="preguntaContainer" method="POST" action="/actual/enviado">
          <% let cantCualitativas = 0; %> <% for (var i = 0; i < preguntas.length;
          i++) { %> <% if(preguntas[i].contenido != '¿Que podemos mejorar?') { %>
          <% if (preguntas[i].tipoPregunta === 'Cualitativa') { %> <%
          cantCualitativas++; %>
          <div class="box is-flex is-flex-direction-column">
            <label class="label" for="respuestaCualitativa"
              ><%= preguntas[i].contenido %></label
            >
            <input
              class="input m-3 is-justify-content-center"
              type="text"
              id="respuestaCualitativa"
              name="<%= preguntas[i].idPregunta %>"
              placeholder="Respuesta"
              onchange="updateProgressBar(event)"
              required
            />
          </div>
          <% } else { %>
          <div class="box is-flex is-flex-direction-column is-vcentered">
            <label class="label" for="respuestaCuantitativa"
              ><%= preguntas[i].contenido %></label
            >
            <%- include('../../partials/preguntaCuantitativa.ejs', {name:preguntas[i].idPregunta }) %>
          </div>
          <%} } } %>
  
          <div class="box is-flex is-flex-direction-column">
            <label class="label" for="respuestaCualitativa"
              >¿Que podemos mejorar?</label
            >
            <p class="is-italic has-text-grey">Posible aciconable</p>
            <input
              class="input m-3 is-justify-content-center"
              type="text"
              id="respuestaCualitativa"
              name="8"
              placeholder="Respuesta"
              onchange="updateProgressBar(event)"
              required
            />
          </div>
  
          <div class="is-flex is-justify-content-center ">
            <input
              class="button is-danger is-rounded is-medium mb-6"
              type="submit"
              value="Enviar"
            />
          </div>
        </form>
      </section>
    </div>
    
  </body>
</html>

<style>
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
  }
  
  .mainContainer {
    width: 85%;
    margin-left: 15%;
    height: 92%;
    margin-top: 6%;

    padding: 0px;
  } 
  .preguntaContainer {
    margin-top: 5%;
  }

  .box {
    height: 12rem;
  }

  .input {
    width: 90%;
    height: 75%;
  }

  .label {
    font-size: 1.2rem;
  }
  .box {
    border: 1px solid #dbdbdb;
  }
</style>
