<!-- Checking for no role -->
<% if (locals.currentUser.roleName === "Sin Rol") { %>
<!--  -->
<%- include('../partials/noRol.ejs') %>
<!--  -->
<% } %>

<html>
  <%- include('../../partials/header.ejs') %>

  <body>
    <%- include('../../partials/navBar.ejs') %>
    <!-- Sidebar -->
    <%- include('../../partials/sideBarAdmin.ejs') %>

    <div class="mainContainer">
      <section class="container">
        <h1 class="title is-1">Responder Retroalimentación</h1>

        <form action="/actual/enviado" class="preguntaContainer" method="POST">
          <!-- Preguntas Cualitativas -->

          <!-- For cycle -->
          <% for (let i = 0; i < preguntas.length; i++) { %> <%
          if(preguntas[i].contenido != '¿Que podemos mejorar?') { %> <% if
          (preguntas[i].tipoPregunta === 'Cualitativa') { %>
          <div
            class="box is-flex is-flex-direction-column is-align-self-center"
          >
            <label for="respuestaCualitativa" class="label">
              <%= preguntas[i].contenido %>
            </label>

            <input
              class="input m-3 is-justify-content-center is-align-self-center"
              type="text"
              id="respuestaCualitativa"
              name="<%= preguntas[i].idPregunta %>"
              placeholder="Respuesta"
              required
            />
          </div>

          <% } else { %>
          <div class="box is-flex is-flex-direction-column is-vcentered">
            <label class="label" for="respuestaCuantitativa"
              ><%= preguntas[i].contenido %></label
            >
            <%- include('../../partials/preguntaCuantitativa.ejs',
            {name:preguntas[i].idPregunta }) %>
          </div>

          <% } } }%>
          <!-- Pregunta de Accionable -->
          <div class="box is-flex is-flex-direction-column">
            <label class="label" for="respuestaCualitativa"
              >¿Que podemos mejorar?</label
            >
            <p class="is-italic accionableText">
              Esta respuesta puede volverse un task en Jira
            </p>
            <input
              class="input m-3 is-justify-content-center is-align-self-center"
              type="text"
              id="respuestaCualitativa"
              name="8"
              placeholder="Respuesta"
              required
            />
          </div>

          <div class="is-flex is-justify-content-center">
            <input
              class="button is-danger is-rounded is-medium mb-6"
              type="submit"
              value="Enviar"
            />
          </div>
        </form>
      </section>
    </div>
  </body>
</html>

<style>
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
  }
  .box {
    background-color: rgb(38, 43, 43) !important;
    border: 1px solid #181a1b !important;
  }
  .title {
    color: #e3e1dd !important;
  }
  .label {
    color: #e3e1dd !important;
    margin-left: 4rem;
  }
  body {
    background-color: #181a1b;
    color: #e3e1dd !important;
  }
  section {
    background-color: #181a1b;
  }
  .accionableText {
    margin-left: 4rem;
    color: #e3e1dd !important;
  }

  .mainContainer {
    background-color: #181a1b;
    width: 85%;
    margin-left: 15%;
    padding-top: 6% !important;
    height: 92%;

    padding: 0px;
  }
  .preguntaContainer {
    margin-top: 5%;
  }
  .box {
    height: 12rem;
  }
  .input {
    width: 90%;
    height: 75%;
    background-color: #e7e7e7 !important;
  }
  .label {
    font-size: 1.2rem;
  }
  .is-danger {
    background-color: #bc4749 !important;
  }
  .is-danger:hover {
    background-color: #d9534f !important;
  }
</style>
