<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>REPORT</title>
    <style>
      body {
        font-family: monospace;
        font-size: 12px;
        margin: 0;
        padding: 0;
      }
      .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
      }
      .left {
        float: left;
        margin-left: 20px;
      }
      .right {
        float: right;
        margin-right: 20px;
        margin-top: 10px;
      }
      .title {
        margin-top: 120px;
        text-align: center;
      }
      .content {
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
      }
      footer {
        margin-top: 20px;
        margin-right: 20px;
        text-align: right;
      }
    </style>
  </head>
  <body>
    <!-- header -->
    <header class="header">
      <div class="left">
        <p><%= new Date().toLocaleDateString() %></p>
      </div>
      <div class="right">
        <img
          src="/assets/$zebrands-brand-logo.svg"
          alt="logo"
          width="100"
          height="50"
        />
      </div>
    </header>

    <!-- title -->
    <div class="title">
      <h1><%= title %></h1>
    </div>

    <!-- content -->
    <div class="content">
      <img
        class="graph"
        src="data:image/png;base64, <%= graphImage %>"
        alt="Graph Image"
        width="50%"
        height="50%"
      />
    </div>

    <!-- footer -->
    <footer class="footer">
      <p>Page <%= pageNumber %> of <%= totalPages %></p>
    </footer>
  </body>
</html>