<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>REPORT</title>
	<style>
		.heading {
			display: flex;
            justify-content: space-between;
            align-items: center;
		}

		.footer {
			text-align: right;
		}
	</style>
</head>
<body>
    <!-- header -->
	<div class="heading">
		<p><%= new Date().toLocaleDateString() %></p>
		<h1><%= title %></h1>
        <img src="/assets/%zebrands-brand-logo.svg" alt="logo" width="100" height="100">
	</div>
	
	<!-- Your content goes here -->
	<div class="content">
        <img src="<%= image %>" alt="image" width="100%" height="100%">
    </div>


    <!-- footer -->
	<div class="footer">
		<p>Page <%= pageNumber %> of <%= totalPages %></p>
	</div>
</body>
</html>
