<html>
  <%- include('../../Include/Header.ejs') %>

  <body>
    <%- include('../../Include/Navbar.ejs') %>

    <section class="section is flex" style="margin-top: 2rem">
      <div class="columns is-vcentered">
        <div class="column">
          <h1 class="title is-1">Accionables</h1>
        </div>
        <div class="column is-narrow">
          <a
            href="/historico/historicoAccionables"
            class="button is-danger reporte-button"
            onclick="event.preventDefault(); saveAccionables();"
          >
            Aprobar Accionables
          </a>
        </div>
      </div>

      <% for (let i = 0; i < accionables.length; i++) { %>
      <div class="card">
        <div class="card-content">
          <div class="columns">
            <div class="column is-2">
              <div class="media">
                <div
                  class="media-left is-flex is-flex-direction-row is-align-items-center"
                >
                  <figure class="image is-64x64">
                    <img
                      src="<%= accionables[i].profileImage %>"
                      class="is-rounded"
                      alt="Profile Image"
                    />
                  </figure>
                  <p class="subtitle is-size-6 ml-4">User: None</p>
                </div>
              </div>
            </div>
            <div class="column is-8 is-flex">
              <div class="media-content nombreAccionable">
                <p class="title is-4"><%= accionables[i].nombreAccionable %></p>
              </div>
            </div>
            <div class="column is-2 checkboxDiv">
              <div class="content">
                <!-- Toggle box -->
                <div class="accionable-toggle is-flex justify-content-flex-end">
                  <figure class="image is-24x24">
                    <input
                      type="checkbox"
                      name="accionable"
                      class="checkbox"
                      onclick="handleCheckBox('<%= accionables[i].idAccionable %>')"
                      id="checkbox-<%= accionables[i].idAccionable %>"
                    />

                    <input
                      type="hidden"
                      id="selected-accionables"
                      name="accionable"
                      class="checkbox"
                    />
                  </figure>
                </div>
                <!-- End of Toggle box -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <% if (i !== accionables.length - 1) { %>
      <hr />
      <% } %> <% } %>
    </section>
  </body>

  <script src="/js/accionable.front.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <style>
    .nombreAccionable {
      display: flex !important;
      align-items: center !important;
    }

    .checkboxDiv {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    .checkbox {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 40px;
      transform: translate(-18%, -20%);
      appearance: none;
      outline: none;
      border: 2px solid #000;
      border-radius: 4px;
    }

    .checkbox::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 20px;
      width: 20px;
      background-color: #000;
      border-radius: 2px;
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
    }

    .checkbox:checked::before {
      opacity: 1;
    }
  </style>
</html>
