<html>
  <%- include('../../include/header.ejs') %>

  <body>
    <%- include('../../include/navbar.ejs') %>

    <section class="section is flex" style="margin-top: 2rem">
      <div class="columns is-vcentered">
        <div class="column">
          <h1 class="title is-1">Accionables</h1>
        </div>
        <div class="column is-narrow">
          <a href="#" class="button is-danger reporte-button">
            Generar Reporte
          </a>
        </div>
      </div>

      <div class="columns">
        <% for (let i = 0; i < accionables.length; i++) { %>
          <div class="column is-12">
            <div class="box is-black is-flex is-align-items-center accionable" style="height: 100px !important">
              <!-- Profile Image -->
              <div class="column is-2">
                <img src="<%= accionables[i].profileImage %>" alt="Profile Image" />
              </div>
              <!-- End of Profile Image -->
      
              <!-- User -->
              <div class="column is-2">
                <div class="content user">
                  <p class="is-white" style="font-size: 1.2rem"> User </p>
                </div>
              </div>
              <!-- End of User -->
      
              <!-- Accionable content -->
              <div class="column is-7">
                <div class="content">
                  <p class="is-white" style="font-size: 1.1rem"><%= accionables[i].nombreAccionable %></p>
                </div>
              </div>
              <!-- End of Accionable Content -->
      
              <!-- Toggle box -->
              <div class="column is-1">
                <div class="box is-black accionable-toggle">
                  <article class="media">
                    <figure class="image is-24x24">
                      <input type="checkbox" name="accionable" value="" class="checkbox" onclick="handleCheckBox()" id="checkbox-<%= accionables[i].idAccionable %>" />
                    </figure>
                  </article>
                </div>
              </div>
              <!-- End of Toggle box -->
            </div>
          </div>
          <% if (i !== accionables.length - 1) { %>
            <div class="column is-12">
              <hr>
            </div>
          <% } %>
        <% } %>
      </div>
    </section>
  </body>

  <script src="/js/accionable.front.js">
  </script>

  <style>
    .checkbox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    transform: translate(-18%, -20%);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 2px solid #000;
    border-radius: 4px;
  }

  .checkbox::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 20px;
    width: 20px;
    background-color: #000;
    border-radius: 2px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  .checkbox:checked::before {
    opacity: 1;
  }
  </style>
</html>