<html>
  <%- include('../../include/header.ejs') %>

  <body>
    <%- include('../../include/navbar.ejs') %>

    <section class="hero is-medium is-bold">
      <div class="hero-body has-text-centered">
        <!-- Sprint title & Button -->
        <div class="columns">
          <div class="column is-half is-flex">
            <h1 class="title is-1">
              Retroalimentacion #<%= idRetroalimentacion %>

              <div>
                <small class="subtitle is-5 is-flex is-justify-content-start">
                  2023-03-28
                </small>
              </div>
            </h1>
          </div>

          <div class="column is-half is-flex is-justify-content-end">
            <div class="is-grouped is-grouped-centered">
              <a
                class="button is-danger reporte-button"
                href="/static/actual/verRetroalimentacion"
              >
                Generar Reporte
              </a>
            </div>
          </div>
        </div>

        <br />

        <!-- Showing the answers from retroalimentacion -->
        <div class="columns">
          <!-- Quantitative Answers -->
          <div class="column is-half">
            <% for (let i = 0; i < simplifiedQuantitative.length; i++) { %>
            <div class="is-flex">
              <div class="card custom-card">
                <div class="card-content">
                  <div class="content">
                    <h1 class="title is-4">
                      <%= simplifiedQuantitative[i].Pregunta %>
                    </h1>

                    <canvas
                      class="has-background-white graph-canvas"
                      id="graph-<%= simplifiedQuantitative[i].idPregunta %>"
                    ></canvas>
                  </div>
                </div>
              </div>
            </div>
            <% } %>
          </div>
          <!-- End of Quantitative Answers -->

          <!-- Qualitative Answers -->
          <div class="column is-half">
            <% for (let i = 0; i < simplifiedQualitative.length; i++) { %>
            <div class="is-flex">
              <div class="card custom-card">
                <div class="card-content">
                  <div class="content">
                    <h1 class="title is-4">
                      <%= simplifiedQualitative[i].Pregunta %>
                    </h1>

                    <!-- Showing the ansews with a slider -->
                    <% for (let j = 0; j <
                    simplifiedQualitative[i].respuestas.length; j++) { %>
                    <p class="respuestas">
                      <%= simplifiedQualitative[i].respuestas[j].trim() %>
                    </p>
                    <% } %>
                  </div>
                </div>
              </div>
            </div>
            <% } %>
          </div>
          <!-- End of Qualitative Answers -->
        </div>
        <!-- End of showing the answers from retroalimentacion -->
      </div>
      <!-- End of hero -->
    </section>

    <script src="/js/actualRetro.chart.js"></script>
  </body>
</html>

<style>
  /* Override Bulma CSS */
  .reporte-button {
    margin-left: 20px;
    width: 150px;
  }

  /* Custom CSS */
  .custom-card {
    width: 100%;
    border-radius: 22px;
    margin-bottom: 20px;
  }

  .graph-canvas {
    width: 100%;
  }

  .respuestas {
    text-align: left;
  }
</style>
