<% if(locals.currentUser.roleName === 'Sin Rol'){ %>
  <%- include('../../partials/noRol.ejs') %>
<% }else{ %>


<html>
  <%- include('../../partials/header.ejs') %>

  <body>
    <%- include('../../partials/navBar.ejs') %> 
      <%- include('../../partials/sideBarAdmin.ejs') %> 

      <% if(locals.currentUser.roleName === 'Administrador'){ %>

    <div class="mainContainer is-flex is-justify-content-center"> <section class="section " >
    <div class="is-flex is-justify-content-space-between">
      <div class="mb-6">
        <h1 class="title is-1 ">Accionables</h1>
        <p class="subtitle is-5 is-italic">Selecciona los accionables que quieras enviar a Jira</p>
        
      </div>
      <div class="mr-5"><a
        href="/historico/historicoAccionables"
        class="button is-danger reporte-button"
        onclick="event.preventDefault(); saveAccionables();"
      >
        Aprobar Accionables
      </a>
  </div>
    </div>

    <section class="columns is-multiline  is-variable sectionContainer">
      <% for (let i = 0; i < accionables.length; i++) { %>
        <div class="box column is-one-third mr-5 ml-5 p-5 is-flex ">
          <div class="mb-4">
            <p class="title is-4 mb-2">Contenido:</p>
            <p class="is-size-5"><%= accionables[i].nombreAccionable %></p>
            <div class="is-flex mt-4">
              <p class="title mb-3 mr-2 is-5 mt-1">Prioridad:</p>
              <span class="button is-warning is-small noHover is-align-self-center mb-1"></span>
            </div>
          </div>
          <div class="column checkboxDiv is-flex is-align-items-start is-justify-content-end ml-2">
            <!-- Toggle box -->
            <div class="accionable-toggle">
              <figure class="image is-24x24">
                <input
                  type="checkbox"
                  name="accionable"
                  class="checkbox"
                  onclick="handleCheckBox('<%= accionables[i].idAccionable %>')"
                  id="checkbox-<%= accionables[i].idAccionable %>"
                />
                <input type="hidden" id="selected-accionables" name="accionable" class="checkbox" />
              </figure>
            </div>
            <!-- End of Toggle box -->
          </div>
        </div>
        
      <% } %>
    </section>
    
  </div>
  <% }else{ %>
    <%- include('../../partials/invalidRol.ejs') %>
    
  <% } %>
  </body>


  <script src="/js/accionable.front.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <style>

html {
    background-color: #181a1b !important;
    color: #e3e1dd !important;
  }

  .noHover {
    pointer-events: none;
  }    


p{
color: #e3e1dd !important;
}

.button {
  padding: 0.3rem;
 
}

    hr {
      opacity: 0;
      margin: 1rem;
    }

    ::-webkit-scrollbar {
      width: 0;
      height: 0;
      background-color: transparent;
    }

    .mainContainer {
    background-color: #181a1b !important;
    width: 85%;
    margin-left: 15%;
    padding-left: 10% !important;
    padding-top: 6% !important;
    height: 200vh;
    

    padding: 0px;
  } 

  body {
    background-color: #181a1b !important;
   
  } 
  
  .title {
    color: #e3e1dd !important;
  }

  .label {
    color: #e3e1dd !important;
    margin-left: 4rem;
  }
  
    .nombreAccionable {
      display: flex !important;
      align-items: center !important;
    }

    .checkboxDiv {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    .checkbox {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 40px;
      transform: translate(-18%, -20%);
      appearance: none;
      outline: none;
      border: 2px solid #e3e1dd;
      border-radius: 4px;
      padding: 0;
    }

    .box {
    background-color: rgb(38, 43, 43) !important;
    border: 1px solid #181a1b !important;
    gap : 0.5rem !important;
    min-width: 10rem !important;
    }
  

    .checkbox::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 20px;
      width: 20px;
      background-color:#e3e1dd;
      border-radius: 2px;
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
    }

    .checkbox:checked::before {
      opacity: 1;
    }

    .is-warning{
      background-color: #D4AF37 !important;
      width: 3rem !important;
      height: 1rem !important;
      border-radius:22% !important; ;
    }


    .is-danger{
    background-color: #BC4749 !important;
    
  }

  .is-danger:hover{
    background-color: #D9534F !important;
  }

  .image{
    margin-left: 20% !important;
  }

    
section{
  width: 90% !important;
}
  </style>
</html>

<% } %>