<html>
    <%- include('../../include/header.ejs') %>

    <body>
        <%- include('../../include/navbar.ejs') %>
        
        <section class="hero is-medium is-bold">
            <div class="hero-body has-text-centered">
                <section> 
                    <!--Title-->
                    <section class="has-text-left">
                        <h1 class="title is-1 mb-5">Empleados</h1>
                    </section>

                    <!--Columns-->
                    <section>
                        <div class="columns is-multiline">
                            <% for(let i=0; i < empleados.length; i++) {%>
                                <% if(empleadoRoles[i].idRol == 3) { %>
                                    <!--Column for each employee-->
                                    <div class="column is-one-third">
                                        <div class="box" style="width: 300px; margin: auto;">
                                            <div class="box is-flex" style="background-color: black; justify-content: center; width: 165px; margin: auto;">
                                                <!--Employee picture-->
                                                <figure>
                                                    <% if(!!empleados[i].googleProfilePicture){ %>
                                                        <img class="image is-128x128 ml-5" src= <%= empleados[i].googleProfilePicture  %>
                                                    <% } else { %>
                                                        <img class="image is-128x128 ml-5" src="https://static.vecteezy.com/system/resources/previews/008/302/421/non_2x/eps10-white-user-icon-or-logo-in-simple-flat-trendy-modern-style-isolated-on-black-background-free-vector.jpg">
                                                    <% } %>
                                                </figure>
                                            </div>
                                            <!--Employee name and mail-->
                                            <p class="bd-notification is-info"> <%= empleados[i].primerNombre %>  <%= empleados[i].apellidoPaterno %>  </p>
                                            <p class="bd-notification is-info"> <%= empleados[i].googleEmail %> </p>
                                            <!--Buttons-->
                                            <button class="button">✓</button>
                                            <button class="button">✕</button>
                                        </div>
                                    </div>
                                <% } %>
                            <% } %>
                        </div>
                    </section>
                </section>
            </div>
        </section>
    </body>
</html>