<html>
  <%- include('../../include/header.ejs') %>

  <body>
    <%- include('../../include/navbar.ejs') %>

    <section class="hero is-medium is-bold">
      <div class="hero-body has-text-centered">
        <!--Title-->
        <section class="has-text-left">
          <h1 class="title is-1 mb-5">Aceptar Empleados</h1>
        </section>

        <!-- Employees -->

        <section class="columns is-multiline">
          <% for(let i = 0; i < empleadoSinRol.length; i++){ %>
          <div class="column is-one-quarter">
            <div
              class="box is-flex is-flex-direction-column is-justify-content-center"
            >
              <div class="is-flex is-justify-content-center">
                <img
                  src="<%= empleadoSinRol[i].googleProfilePicture %>"
                  alt="Profile Picture"
                  class="image is-128x128 is-rounded"
                />
              </div>
              <p><%= empleadoSinRol[i].primerNombre %></p>
              <p><%= empleadoSinRol[i].googleEmail %></p>
              <div class="optionsContainer">
                <!-- buttons for acfept or reject -->
                <form
                  action="/editar/empleados/aceptar"
                  method="POST"
                  class="is-inline-block"
                >
                  <input
                    type="hidden"
                    name="idEmpleado"
                    value="<%= empleadoSinRol[i].idEmpleado %>"
                  />
                  <button class="button is-success" type="submit">
                    <span class="icon is-small">
                      <i class="fas fa-check"></i>
                    </span>
                  </button>
                </form>
                <form
                  action="/editar/empleados/rechazar"
                  method="POST"
                  class="is-inline-block"
                >
                  <input
                    type="hidden"
                    name="idEmpleado"
                    value="<%= empleadoSinRol[i].idEmpleado %>"
                  />
                  <button class="button is-danger" type="submit">
                    <span class="icon is-small">
                      <i class="fas fa-times"></i>
                    </span>
                  </button>
                </form>
              </div>
            </div>
          </div>
          <% } %>
        </section>
      </div>
    </section>
  </body>
</html>
