<html>
  <%- include('../../Include/Header.ejs') %>

  <body>
    <%- include('../../Include/Navbar.ejs') %>
    <section class="section is-medium is-bold">
      <div class="has-text-centered">
        <!-- Title & Button to Accept -->
        <div class="columns">
          <div class="column is-half is-flex">
            <h1 class="title is-1">Accionables</h1>
          </div>
          <div class="column is-half is-flex is-justify-content-end">
            <div class="is-grouped is-grouped-centered">
              <input
                class="button is-danger reporte-button"
                id="sendButton"
                type="submit"
                value="Generar Reporte"
                onclick=""
              />
            </div>
          </div>
        </div>
      </div>
    </section>
      <!-- End of Title & Button -->

      <!-- Accionables -->
      <div class="columns is-multiline">
        <% accionables.forEach((accionable) => { %> <%
        if(accionable.nombreAccionable !== '') { %>
        <div class="column is-4 has-text-centered justify-content">
          <div
            class="box is-flex is-flex-direction-column accionable"
          >
            <div class="content has-text-centered justify-content">
              <p><%= accionable.nombreAccionable %></p>
              <% if(accionable.estadoAccionable === 'No aprobado') { %>
              <p class="box is-flex is-align-items-center EstadoNoAprobado">
                <%= accionable.estadoAccionable %>
              </p>
              <% } else { %>
              <p class="box is-flex is-align-items-center EstadoAprobado">
                <%= accionable.estadoAccionable %>
              </p>
              <% } %>
            </div>
          </div>
        </div>
        <% } %> <% }) %>
      </div>
  </body>
</html>

<style>
  .accionable {
    top: 20rem !important;
  }

  .EstadoNoAprobado {
    background-color: hsl(348, 100%, 61%);
    color: hsl(0, 0%, 96%);
    width: 50%;
  }

  .EstadoAprobado {
    background-color: hsl(171, 100%, 41%);
    width: 50%;
  }

  .reporte-button {
    height: 50px;
    width: 200px;
  }
</style>
