<html>
  <%- include('../../partials/header.ejs') %>

  <body>
    <%- include('../../partials/sidebarAdmin.ejs') %> <%-
    include('../../partials/navBar.ejs') %>

    <div class="mainContainer">
      <section class="section">
        <!-- Title & generar reporte -->
        <div class="columns is-vcentered">
          <div class="column">
            <h1 class="title is-1">Desempeño de Trabajo</h1>
          </div>
          <div class="column is-narrow">
            <a href="#" class="button is-danger reporte-button"
              >Generar Reporte</a
            >
          </div>
        </div>
        <!-- End of title & generar reporte -->

        <!-- Graph area & showing names of Sprints or epicas -->
        <% if (sprints.length > 0 || epicas.length > 0) { %>
        <div
          class="is-flex is-justify-content-center is-flex-direction-column"
          style="padding-top: 2rem"
        >
          <!-- Graph area -->
          <div class="column is-10 is-align-self-center">
            <div class="box">
              <div class="has-text-centered">
                <p class="title is-3" style="margin-bottom: 2rem">
                  Story Points por Sprint
                </p>
              </div>

              <canvas id="SprintComparison" class="graph-canvas"></canvas>
              <canvas
                id="EpicaComparison"
                class="graph-canvas"
                style="display: none"
              ></canvas>
            </div>
            <div class="is-flex">
              <div class="box item-names column" id="epicNames">
                <p class="title is-4">Epicas</p>
                <% epicas.forEach((epic) => { %>
                <p><%= epic.nombreEpica %></p>
                <% }) %>
              </div>
              <div class="box item-names column is-4 ml-6" id="sprintNames">
                <p class="title is-half">Sprints</p>
                <% sprints.forEach((sprint) => { %>
                <p><%= sprint.sprintName %></p>
                <% }) %>
              </div>
            </div>
          </div>

          <!-- Showing data -->
        </div>
        <% } %>
        <!-- End of graph area & showing names of Sprints or epicas -->
      </section>
    </div>
  </body>
</html>

<script src="/js/comparativaEpicas.chart.js"></script>

<style>
  .toggle-button:not(:last-child) {
    margin-right: 1rem;
  }

  .item-names {
    max-height: 53vh;
    overflow-y: auto;
  }

  .box {
    border: 1px solid #dbdbdb;
    padding: 1.5rem;
  }

  .mainContainer {
    width: 85%;
    margin-left: 15%;
    height: 92%;
    margin-top: 6%;

    padding: 0px;
  }
</style>
