<% if(locals.currentUser.roleName === 'Sin Rol'){ %>
  <%- include('../../partials/noRol.ejs') %>
<% }else{ %>


<html>
  <%- include('../../partials/header.ejs') %>

  <body>
    <%- include('../../partials/sideBarAdmin.ejs') %> <%-
    include('../../partials/navBar.ejs') %>

    <div class="mainContainer">
      <section class="section">
        <!-- Title & generar reporte -->
        <div class="columns is-vcentered">
          <div class="column">
            <h1 class="title is-1">Desempeño de Trabajo</h1>
          </div>
          <% if(locals.currentUser.roleName === 'Administrador'){ %>
          <div class="column is-narrow">
            <a href="#" 
            class="button is-danger reporte-button"
            onclick="generateReport(SprintComparison, 'Comparativa de Epicas')"
              >Generar Reporte</a
            >
          </div>
          <% } %>
        </div>
        <!-- End of title & generar reporte -->

        <!-- Graph area & showing names of Sprints or epicas -->
        <% if (sprints.length > 0 || epicas.length > 0) { %>
        <div
          class="is-flex is-justify-content-center is-flex-direction-column"
          style="padding-top: 2rem"
        >
          <!-- Graph area -->
          <div class="column is-10 is-align-self-center">
            <div class="box">
              <div class="has-text-centered">
                <p class="title is-3" style="margin-bottom: 2rem">
                  Story Points por Sprint
                </p>
              </div>

              <canvas id="SprintComparison" class="graph-canvas"></canvas>
            </div>
            <div class="is-flex">
              <div class="box item-names column" id="epicNames">
                <p class="title is-4">Épicas</p>
                <% epicas.forEach((epic) => { %>
                <p>
                  <span class="custom-checkbox">
                    <input
                      type="checkbox"
                      id="epicCheckbox_<%= epic.idEpica %>"
                      name="epicCheckbox"
                      value="<%= epic.idEpica %>"
                      checked
                    />
                    <label for="epicCheckbox_<%= epic.idEpica %>"
                      ><%= epic.nombreEpica %></label
                    >
                  </span>
                </p>

                <% }) %>
              </div>
              <div class="box item-names column is-4 ml-6" id="sprintNames">
                <p class="title is-half">Sprints</p>
                <% sprints.forEach((sprint) => { %>
                <p>
                  Sprint ID <%= sprint.idSprint %>: <%= sprint.sprintName %>
                </p>
                <% }) %>
              </div>
            </div>
          </div>

          <!-- Showing data -->
        </div>
        <% } %>
        <!-- End of graph area & showing names of Sprints or epicas -->
      </section>
    </div>
  </body>
</html>



<script src="/js/comparativaEpicas.chart.js"></script>

<% } %>

<style>
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
  }
  .box {
    background-color: rgb(38, 43, 43) !important;
    border: 1px solid #181a1b !important;
    color: #e3e1dd !important;
  }

  .title {
    color: #e3e1dd !important;
  }

  .subtitle {
    color: #e3e1dd !important;
  }

  body {
    background-color: #181a1b;
    color: #e3e1dd !important;
  }

  section {
    background-color: #181a1b;
  }

  .mainContainer {
    width: 85%;
    margin-left: 15%;
    height: 92%;
    padding-top: 6% !important;

    padding: 0px;
  }

  .is-danger {
    background-color: #bc4749 !important;
  }

  .is-danger:hover {
    background-color: #d9534f !important;
  }

  /* Checkbox styling */
  .custom-checkbox input[type="checkbox"] {
    display: none;
  }

  .custom-checkbox label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
  }

  .custom-checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #e3e6e8;
    background-color: transparent;
  }

  .custom-checkbox input[type="checkbox"]:checked + label::before {
    background-color: transparent;
  }

  .custom-checkbox input[type="checkbox"]:checked + label::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 5px;
    top: 5px;
    width: 10px;
    height: 10px;
    background-color: #e3e6e8;
  }
</style>
