<html>
  <%- include('../../Include/Header.ejs') %>

  <body>
    <%- include('../../Include/NavBar.ejs') %>
    <br />
    <br />
    <br />
    <br />

    <div class="is-flex is-justify-content-space-between">
      <h1 class="title ml-6">Crear Retroalimentacion</h1>
      <% if(preguntas.length > 0) { %>
      <div class="">
        <a class="button is-danger mr-6" type="submit" href="preguntas/0">
          Crear Pregunta
        </a>
      </div>
      <% } %>
    </div>
    <% if(preguntas.length === 0) { %>
    <section class="container has-text-centered mt-6">
      <h2 class="title">No hay preguntas en el banco</h2>
      <a class="button is-danger mr-6" type="submit" href="preguntas/0">
        Crear Pregunta
      </a>
    </section>

    <% }else{ %>
    <section
      class="container is-flex is-align-items-center is-flex-direction-column"
    >
      <br />
      <h2 class="subtitle">Banco de preguntas</h2>

      <% for (var i = 0; i < preguntas.length; i++) { %> <% if
      (preguntas[i].tipoPregunta === 'Cualitativa') { %>
      <div
        class="box PreguntaContainer is-flex is-justify-content-space-between"
      >
        <div class="">
          <label class="label" for="respuestaCualitativa"
            ><%= preguntas[i].contenido %></label
          >
          <p>Respuesta Abierta</p>
        </div>

        <div class="is-flex">
          <a
            class="button is-success mr-4 is-align-self-center"
            href="preguntas/<%= preguntas[i].idPreguntaBanco %>"
          >
            Editar
          </a>
          <a
            class="button is-danger is-align-self-center"
            href="preguntas/eliminar/<%= preguntas[i].idPreguntaBanco %>"
          >
            <input
              type="hidden"
              name="idPregunta"
              value="<%= preguntas[i].idPreguntaBanco %>"
            />
            <span>Eliminar</span>
            <span class="icon is-small">
              <i class="fas fa-times"></i>
            </span>
          </a>
        </div>
      </div>
      <% } else { %>
      <div
        class="box preguntaContainer is-flex is-justify-content-space-between"
      >
        <div>
          <label class="label" for="respuestaCuantitativa"
            ><%= preguntas[i].contenido %></label
          >
          <p>Respuesta 1 a 5</p>
        </div>

        <div class="is-flex is-justify-content-center is-vcentered">
          <a
            class="button is-success mr-4 is-align-self-center"
            href="preguntas/<%= preguntas[i].idPreguntaBanco %>"
          >
            Editar
          </a>
          <a
            class="button is-danger is-align-self-center"
            href="preguntas/eliminar/<%= preguntas[i].idPreguntaBanco %>"
          >
            <input
              type="hidden"
              name="idPregunta"
              value="<%= preguntas[i].idPreguntaBanco %>"
            />
            <span>Eliminar</span>
            <span class="icon is-small">
              <i class="fas fa-times"></i>
            </span>
          </a>
        </div>
      </div>
      <%} %> <% } %>
      <a
        class="button is-danger mt-5 mb-5 is-medium"
        href="/editar/crearRetroalimentacion/exitosa"
        >Crear Retroalimentacion
      </a>
    </section>

    <% } %>
  </body>
</html>

<style>
  .preguntaContainer {
    width: 70%;
  }
  .box {
    border: 1px solid #dbdbdb;
  }
</style>
